<div class="events-container">
  <h1>Events</h1>

  <!-- Отображение статуса загрузки -->
  <div *ngIf="loading">Loading events...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <!-- Список событий -->
  <ul *ngIf="!loading && !error" class="events-list">
    <li *ngFor="let event of events" (click)="onSelectEvent(event._id)">
      <h2>{{ event.event_name }}</h2> <!-- Отображение названия события -->
      <p>Date: {{ event.event_date | date:'fullDate' }}</p> <!-- Форматирование даты -->
    </li>
  </ul>
</div>